*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0028;
}

.form-container {
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(170, 170, 170, 0.84);
    width: 300px;
    margin: 0 10px 0 10px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px 0 10px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #72abff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0e8fff;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
